/*FORMS*/
* {
    box-sizing: border-box;
}

#email, #password, select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
}

.col-25 {
    width: 25%;
    margin-top: 6px;
    float: left;
}
.col-75 {
    width: 75%;
    margin-top: 6px;
    float: left;
}

/*Clear floats after the columns*/
/*.row:after
  Jälkivalitsin :after joka kohdistuu elementtiin, jonka luokka on row.
  Se luo virtuaalisen elementin row elementin sisälle, sen sisällön jälkeen.
  Virtuaalielementti ei näy, mutta sen avulla voidaan soveltaa tyylejä.
  
  content: "";
  Käytetään pseudo-elementtien :before :after kanssa.
  Tässä tapauksessa se luo tyhjän sisällön. 
  Ilman tätä sääntöä pseudo-elementtiä ei synny.
  
  display: table;
  Asettaa virtuaalisen elementin näyttötilaksi "taulukon", mikä auttaa
  sen täyttämään konttialueen ja kohdistumaan oikein suhteessa kelluviin elementteihin
  
  clear: both;
  Tarkoittaa että tämä virtuaalinen elementti ei saa olla samalla rivillä kuin
  kelluvat elementit (float:left).
  Se siis "tyhjentää" kelluvat elementit, jolloin niitä ympäröivä säilö 
  (tässä tapauksessa .row) pystyy venymään sisältönsä mukaan.
  
  Tämän koodin avulla varmistetaan, että säilö-elementti "käärii" kelluvat elementit
  ja ulottuu niiden loppuun asti, mikä pitää asettelun eheänä.*/
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, 
   make the two columns stack on top of each other instead of next to each other
   hox!! Tämän pitää olla koodin lopussa jotta sivusta osaa muuttaa muodot
    */   
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}